@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-container {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}