.animated-gradient-text {
  position: relative;
  display: inline-block;
  font-weight: 800;
  overflow: hidden;
}

.animated-gradient-text.with-border {
  padding: 4px;
}

.animated-gradient-text .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  -webkit-mask-image: linear-gradient(black, black);
  mask-image: linear-gradient(black, black);
  border-radius: inherit;
}

.animated-gradient-text .text-content {
  position: relative;
  z-index: 2;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
